body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}


.navbar {
  background-color: #222;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
}

.navbar ul li a:hover {
  color: #007bff;
}

/*  Secci贸n de Presentaci贸n */
.about {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin-right: 15px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/*  Secci贸n de Experiencia */
.experience {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: left;
}

.experience h2 {
  text-align: center;
}

.exp-content {
  padding: 10px;
}

.exp-content h3 {
  color: #f1c40f;
}

.exp-content ul {
  list-style: none;
  padding: 0;
}

.exp-content ul li {
  margin-bottom: 10px;
}

.exp-content a {
  color: #f1c40f;
  text-decoration: none;
}



/*  Secci贸n de Proyectos */
.projects {
  margin-top: 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 1.5rem;
}

.card p {
  font-size: 0.9rem;
  color: #bbb;
}

.stars {
  color: #f1c40f;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background: #f1c40f;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
